@import "src/theme/theme-variables";

import .jumbotron {
  padding-top: 1rem;
}
.logo {
  vertical-align: middle;
  height: 50%;
  width: 50%;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.progresscol {
  padding-right: 3px;
  padding-left: 3px;
}

.skillsrow {
  max-width: 50%;
  margin: auto;
}

h1 {
  margin-bottom: 1.5em;
}
@import "src/theme/theme-variables";

h4 {
  margin-bottom: 1.5em;
}

hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.title h1:before,
.title h1:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  top: 0;
  width: 600px;
}
