<div class="container-fluid">
  <div class="row ">
    <div class=" col-md-8  text-center">
      <div class=" col-md-12 jumbotron ">
        <h1>
          <span translate>EXPERIENCE</span>
        </h1>
        <div class="row">
          <div class="col-1"></div>
          <img class="col-3 " src="assets/Altran_logo.png" alt="Altran Logo" />
          <h5 class="col-4" translate>CONSULTANT_JR</h5>
        </div>
        <a translate>INTERNSHIP</a>
        <br />
        <a translate>DEVELOPMENT</a>
        <br />
        <b> <a translate>DURATION</a>: </b>
        <a>ALTRAN_DURATION</a>
        <hr />
        <div class="row ">
          <div class="col-3"></div>
          <img class="col-1 vcenter" src="assets/EA_logo_Electronic_Arts.png" alt="Altran Logo" />
          <div class="col-4"><h5 class="vcenter">COMPLIANCE_CERT_TESTER</h5></div>
        </div>
        <a translate>INTERNSHIP</a>
        <br />
        <b> <a translate>DURATION</a>: </b>
        <a>EA_DURATION</a>
      </div>
    </div>
    <button
      type="button"
      class="btn btn-lg btn-danger"
      data-toggle="popover"
      title="Popover title"
      data-content="And here's some amazing content. It's very engaging. Right?"
    >
      Click to toggle popover
    </button>
    <div class=" col-md-4  text-center">
      <div class=" col-md-12 jumbotron ">
        <h1>
          <span translate>CONTACT</span>
        </h1>
        <h5>Julio Albertos León</h5>
        <hr />
        <b> <a translate>EMAIL</a>: </b>
        <a>julio.albertosleon@gmail.com</a>
        <hr />
        <b> <a translate>WEB</a>: </b>
        <a>longhairedcoder.net</a>
        <hr />
        <b> <a translate>PHONE_NUMBER</a>: </b>
        <a>+34 669 240 028</a>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class=" col-md-6  text-center">
      <div class=" col-md-12 jumbotron ">
        <h1>
          <span translate>SKILLS</span>
        </h1>
        <!--<div class="popover__wrapper">
          <div class="popover__content">
            <p class="popover__message">Joseph Francis "Joey" Tribbiani, Jr.</p>
          </div>-->
        <b class="popover__title"> <a translate>FLEXIBILITY</a> </b>

        <div class="row skillsrow">
          <div class="col progresscol">
            <div class="progress ">
              <div
                class="progress-bar bg-info"
                role="progressbar"
                style="width: 100%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="col progresscol">
            <div class="progress ">
              <div
                class="progress-bar bg-info"
                role="progressbar"
                style="width: 100%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="col progresscol">
            <div class="progress ">
              <div
                class="progress-bar bg-info"
                role="progressbar"
                style="width: 100%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="col progresscol">
            <div class="progress ">
              <div
                class="progress-bar bg-info"
                role="progressbar"
                style="width: 100%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="col progresscol">
            <div class="progress ">
              <div
                class="progress-bar bg-info"
                role="progressbar"
                style="width: 100%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
        <!--</div>-->
        <hr />
        <b class=""> <a translate>DEBUGGING</a> </b>
        <div class="row skillsrow">
          <div class="col progresscol">
            <div class="progress ">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 100%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="col progresscol">
            <div class="progress ">
              <div
                class="progress-bar "
                role="progressbar"
                style="width: 100%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="col progresscol">
            <div class="progress ">
              <div
                class="progress-bar "
                role="progressbar"
                style="width: 100%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="col progresscol">
            <div class="progress ">
              <div
                class="progress-bar "
                role="progressbar"
                style="width: 100%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="col progresscol">
            <div class="progress ">
              <div
                class="progress-bar "
                role="progressbar"
                style="width: 100%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
        <hr />
        <b class=""> <a translate>FLEXIBILITY</a> </b>
        <div class="row skillsrow">
          <div class="col progresscol">
            <div class="progress ">
              <div
                class="progress-bar bg-info"
                role="progressbar"
                style="width: 100%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="col progresscol">
            <div class="progress ">
              <div
                class="progress-bar bg-info"
                role="progressbar"
                style="width: 100%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="col progresscol">
            <div class="progress ">
              <div
                class="progress-bar bg-info"
                role="progressbar"
                style="width: 100%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="col progresscol">
            <div class="progress ">
              <div
                class="progress-bar bg-info"
                role="progressbar"
                style="width: 100%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="col progresscol">
            <div class="progress ">
              <div
                class="progress-bar bg-info"
                role="progressbar"
                style="width: 100%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
        <hr />
        <b class=""> <a translate>DEBUGGING</a> </b>
        <div class="row skillsrow">
          <div class="col progresscol">
            <div class="progress ">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 100%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="col progresscol">
            <div class="progress ">
              <div
                class="progress-bar "
                role="progressbar"
                style="width: 100%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="col progresscol">
            <div class="progress ">
              <div
                class="progress-bar "
                role="progressbar"
                style="width: 100%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="col progresscol">
            <div class="progress ">
              <div
                class="progress-bar "
                role="progressbar"
                style="width: 100%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
          <div class="col progresscol">
            <div class="progress ">
              <div
                class="progress-bar "
                role="progressbar"
                style="width: 100%"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-md-6  text-center">
      <div class=" col-md-12 jumbotron ">
        <h1>
          <span translate>STUDIES</span>
        </h1>
        <div class="row">
          <div class="col-1"></div>
          <img class="col-3 " src="assets/uc3m.png" alt="Altran Logo" />
          <h5 class="col-4" translate>UC3M</h5>
        </div>
        <a translate>DEGREE</a>
        <br />

        <b> <a translate>DURATION</a>: </b>
        <a>UNI_DURATION</a>
        <hr />

        <h5 class="vcenter">ERASMUS_NAME</h5>
        <br />
        <b> <a translate>DURATION</a>: </b>
        <a>ERASMUS_DURATION</a>
      </div>
    </div>
  </div>
</div>
