@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

@media only screen and (min-width: 992px) {
  .separator {
    border-left: 1px solid rgb(255, 255, 255, 0.5);
    line-height: 1em;
  }
}
